* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: #141413;
  font-size: 14px;
  background: #FAFAF8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  padding: 25px 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.chef-icon {
  margin-right: 11px;
  width: 45px;
}

.header-title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 60px;
  margin: 0;
}

main {
  padding: 65px;
}

.ingredient-form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
}

.ingredient-form>input {
  flex-grow: 2;
  min-width: 150px;
  max-width: 400px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px 0px #0000000D;
  background: #FFFFFF;
  border-radius: 6px;
  padding: 10px;
}

.ingredient-form>input:focus {
  border-color: #141413;
}

.ingredient-form>input::placeholder {
  font-size: 14px;
  color: #6B7280;
  font-family: Inter, sans-serif;
}

.ingredient-form>button {
  flex-grow: 1;
  max-width: 250px;
  min-width: 150px;
  background: #141413;
  box-shadow: 0px 1px 2px 0px #0000000D;
  border-radius: 6px;
  font-size: 14px;
  color: #FAFAF8;
  border: 1px solid transparent;
  transition: 0.5s ease;
  font-family: Inter, sans-serif;
}

.ingredient-form>button::before {
  content: "+";
  margin-right: 5px;
}

.ingredient-form>button:hover {
  background: #FAFAF8;
  color: #141413;
  border-color: #141413;
}

.ingredients-list {
  margin: 24px 0 48px 0;
  color: #475467;
  font-size: 18px;
  line-height: 28px;
}

.ingredients-list>li {
  margin-bottom: 18px;
}

.ingredient-list-header {
  margin: 48px 0 0 0;
  font-size: 30px;
  font-weight: 600;
}

.get-recipe-container {
  background: #F0EFEB;
  border-radius: 8px;
  padding: 28px 40px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.recipe-header {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

.recipe-content {
  color: #6B7280;
  margin: 0;
}

.recipe-button {
  flex-grow: 0;
  background: #D17557;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000D;
  color: #FAFAF8;
  border: 1px solid transparent;
  padding: 10px 16px;
  transition: 0.5s ease;
}

.recipe-button:hover {
  border-color: #D17557;
  background: #F0EFEB;
  color: #D17557;
}
